<h1>Followers User</h1>
<table>
  <tr>
    <% if @followed.present? %>
      <% @followed.each do |user| %>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td>フォロー数:<%= user.follower.count %></td>
        <td>フォロワー数:<%= user.followed.count %></td>
        <td><%= link_to "show", user_path(user) %></td>
      <% end %>
    <% else %>
    　<h1>フォローされてるユーザーがいません</h1>
    <% end %>
  </tr>
</table>
